<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
	</head>
	<body>
		<h1>Hello ejs Views</h1>

		<form action="/" method="post">
			<input
				type="text"
				name="title"
				value="<%=body.title%>"
				placeholder="Insira um título"
			/>
			<input
				type="text"
				name="description"
				value="<%=body.description%>"
				placeholder="Insira uma descrição"
			/>
			<input
				type="text"
				name="url"
				value="<%=body.url%>"
				placeholder="Insira uma url"
			/>

			<button>Salvar</button>
		</form>

		<% if (error) { %>
		<h4><%= error %><%= body %></h4>

		<% } %>
	</body>
</html>

<%= %>
